*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/* Aplicamos estilos en INDEX*/
/*HEADER*/



.logo__img {
    width: 10rem;
    
}





.nav__menu--enlace {
    
    color:rgb(2, 29, 83);
    text-decoration: none;    
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    padding: 1rem;
    

}


.nav__menu--enlace:hover {
    color: RoyalBlue;
    transition: all 1s ease; 
  }
  @media (max-width: 700px)
  {
   

      .logo__img{
        width: 6rem;
      }
 }
/*SECCION PORTADA*/
.portada--foto{
    width: 100%;
    height: 50rem;
}
.portada{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}


.portada--texto{
    position: absolute;
    top: 3rem;
    left: 2rem;
    font-size: 1.5rem;
    color: rgb(2, 29, 83);
    font-family: 'Patrick Hand', cursive;
}

.portada--boton{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-100%, -10%);
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 5px;
    color:darkblue;
    box-shadow: 2px 4px rgb(2, 29, 83);
    

}

.portada--boton:hover{
    background-color: rgb(2, 29, 83);
    color: wheat;
    transition: all 1s ease;
}

@media (max-width: 700px) {
   
    
    .portada--texto{
        position: absolute;
        top: 3rem;
        left: 0.2rem;
        right: 0.2rem;
        font-size: 1rem;
        color: rgb(2, 29, 83);
        font-family: 'Patrick Hand', cursive;
        
    }
    .portada--boton{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-100%, -10%);
        text-decoration: none;
        font-size: 1rem;
        padding: 0.5rem;
        border: 2px solid white;
        border-radius: 5px;
        color:darkblue;
        box-shadow: 2px 4px rgb(2, 29, 83);
        

    }

    .portada--boton:hover{
        background-color: rgb(2, 29, 83);
        color: wheat;
        transition: all 3s ease-in-out;
    }
    }

/*MAIN*/

.titulo--servicios{
    justify-content: center;
    display: flex;
    margin-top: 5px 0;
    font-family: 'Indie Flower', cursive;
    animation: flash; 
    animation-duration: 4s; 
   
}
main{
    width: 70%;
    margin: auto;
}  
.servicios--imagen{
    width: 100%;
    opacity: initial;
    transition: all 3s;
    filter: opacity(80%);  
    
}
.servicios--imagen:hover{
     
    transform: scale(0.5,0.5);
    filter: opacity(100%); 
}





/*FOOTER*/
.footer{
    text-align: center;
    margin-top: 1rem;
    
}
.footer__parrafo{
    color: white;
    background-color: rgb(2, 29, 83);
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
    
    
}

.footer__copyright{
    color: grey;
    
    font-size: 1rem;
    padding: 1rem;
    
}





/* PRODUCTOS.HTML*/
.container1 {
    display:grid;
    width: 95%;
    margin: auto;
    justify-items: center;
    align-items: center;
    background: url("../img/chica2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
        
    
    
    font-weight: bold;
    
    grid-template-areas: "titulo titulo titulo"
    "subtitulo1 subtitulo2 subtitulo3" 
    "producto1 cobertura1 detalle1"
    "producto2 cobertura2 detalle2"
    "producto3 cobertura3 detalle3";
    
    
    
  }
  .productos--h1 { grid-area:titulo; color:white;font-size: 3rem; width: 100%; background-color: rgb(2, 29, 83); text-align: center;animation: backInDown; 
    animation-duration: 2s; }
  .productos--titulo1 { grid-area:subtitulo1; font-size: 2rem; padding: 1.5rem; }
  .productos--titulo2 { grid-area:subtitulo2;  font-size: 2rem; padding: 1.5rem;}
  .productos--titulo3 { grid-area:subtitulo3; font-size: 2rem; padding: 1.5rem;}  

  .productos1 a{ grid-area:producto1; text-decoration: none; font-size: 1.5rem; color:rgb(2, 29, 83)}

  .productos--coberturas1{ grid-area:cobertura1; }
  .productos__coberturas-detalle1 { grid-area:detalle1; padding-bottom: 2rem;}

  
  .productos2 a { grid-area:producto2; text-decoration: none; font-size: 1.5rem; color:rgb(2, 29, 83) }
  .productos--coberturas2{ grid-area:cobertura2; } 
  .productos__coberturas-detalle2 { grid-area:detalle3; padding-bottom: 2rem;}


  
  .productos3 a{ grid-area:producto3; text-decoration: none; font-size: 1.5rem; color:rgb(2, 29, 83) }  
  .productos--coberturas3{ grid-area:cobertura3; }  
  .productos__coberturas-detalle3 { grid-area:detalle3; padding-bottom: 2rem;}





  /* contacto.HTML y cotizacion.HTML*/
.formulario{
	width:30rem;
	padding-top:2rem;
	border-radius:1rem;
	margin:auto;
	justify-content: center;
    text-align: center;
}
.formulario__h1{
    color:rgb(2, 29, 83);
    font-family: "Lucida Console", "Courier New", monospace;
    animation: fadeInTopLeft;
    animation-duration: 2s;
    

}
.formulario__titulo{
	width:50%;
	 
    
    
}

.formulario__titulo--campo 


{
	width:75%;
	padding:1px;
	border:2px solid black;
	border-radius:3px;
	background-color:#f6f6f6;
	display:inline-block;
    margin: 0.3rem;
    justify-content: center;
    
    
    
    
}


.formulario__boton{
	width:80%;
	padding:8px 16px;
	margin:5px;
	border:1px solid #000;
	border-radius:5px;
	justify-content: center;
	color:#fff;
	background-color:rgb(2, 29, 83);
    
} 



.formulario__boton:hover{
	color: gray;
    background-color:rgb(2, 29, 83, 0.9);
    border:0.3px solid #fff;
}


.formulario__texto{
	width:95%;
	height:10rem;
	border:2px solid black;
	border-radius:3px;
	background-color:#f6f6f6;
    			
	
	resize:none;
	
    justify-content: center;
}
.formulario__titulo--newsletter{
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem;
    font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;
	display:inline-block;
    
   
    

}
.formulario__radio--gnc,.formulario__radio--0km{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(2, 29, 83);
    font-family: "Lucida Console", "Courier New", monospace;

}

.formulario__radio{
    font-size: 1.5rem;
    
    
    
}
.formulario__select{
    border:2px solid black;
    border-radius:3px;  
    margin: 1rem;
    justify-content: center;
}
.cotizacion  {
    width: 90%;
    background: url("../img/seguro.jpeg") center fixed ;
    background-size: cover;
    margin: auto;
}
.contacto{
    width: 90%;
    background: url("../img/FOTO2.jpg") center fixed ;
    background-size: cover;
    margin: auto;
}



/*Nosotros*/
.parrafo{
    color: #fff;
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
    padding: 1rem;
     
    
}
.nosotros{
    width: 100%;
    background: url("../img/video.gif");
    background-size: cover;
}

