@import "_colores";
@import "_tipografia";
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
 

@each $servicio in automotor, motocicleta, bicicleta 
{
    .#{$servicio} 
    {
    
    background: url('../img/#{$servicio}.jpg') fixed;   
    width: 75%;
    height: 50vh;
       
    margin: auto;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-display: flex;
    display: flex;
        
    align-items: center;
    justify-content: center;
    
    h1{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font: $titulo-font;
        font-size: $tamanotitulo+0.7rem;
        color: $colortitulo;
        
        }
    h4{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: $tamanosubtitulo+0.5rem;
        color:orangered;
        
        }
    p{
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 1.5rem+0.1rem;
        color:$colorprincipal;
        }
    .boton{
        display: flex;
        justify-content: center;
           
        }                             
    }
}

.titulo
{
    width: 90%;
    margin: auto;
    
    h2 {
        
        background-color: $colorprincipal;
        color:$colortitulo;
        text-align: center;
        font-size: 1rem+1rem;
    
    
       }
   
}



